$body_colour: black;
$container_colour: white;
$button_colour: #eee;
$button_border_radius: 10px;
$border_radius: 1em;
html, body {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}
html {
  height: 100%;

  body {
    height: 100%;
    background: $body_colour;

    .ember-view {
      width: 40%;
      height: inherit;
      margin-left: auto;
      margin-right: auto;
    }

    #container_content {
      height: 40em;

      #header {
        height: 2em;
      }

      #content {
        position: relative;
        height: 90%;
        background: $container_colour;
        margin-left: auto;
        margin-right: auto;
        padding: 5%;
        -webkit-border-radius: $border_radius;
        -moz-border-radius: $border_radius;
        border-radius: $border_radius;

        #random_beer {
          display: table;
          text-align: center;
          margin: 5% auto;
          width: 50%;
          height: 10em;

          #name {
            display: table-row;
            vertical-align: middle;
            text-align: center;
            height: 4em;
            font-size: 2em;
          }

          #alc {
            display: table-row;
            vertical-align: middle;
            text-align: center;
            font-size: 1.5em;
          }
        }

        #random_beer_action {
          text-align: center;

          button {
            font-family: inherit;
            font-size: 1em;
            width: 40%;
            padding: 3em 2em;
            background: $button_colour;
            -webkit-border-radius: $button_border_radius;
            -moz-border-radius: $button_border_radius;
            border-radius: $button_border_radius;
          }
        }
      }
    }
  }
}
