<!doctype html>
%html
  %head
    %meta{:charset => "utf-8"}/
    %title susuba
    %link{:href => "css/reset.css", :rel => "stylesheet"}/
    %link{:href => "css/susuba.css", :rel => "stylesheet"}/
  %body
    #header
    #content
      #random_beer
        #text
          = "Bier Bienne 3"
      #random_beer_button
        %button{:type => "button"} Click Me!
    #footer

    %script{:src => "javascripts/libs/jquery-1.9.1.js"}
    %script{:src => "javascripts/libs/latest/handlebars.js"}
    %script{:src => "javascripts/libs/latest/emblem.js"}
    %script{:src => "javascripts/libs/latest/ember.js"}
    %script{:src => "javascripts/libs/latest/ember-data-0.13.js"}
    %script{:src => "javascripts/libs/local_storage_adapter.js"}
